@import url(reset.css);
h1 {
   color: brown;
}
.p-1930 {
   color: blue;
}
#p_2 {
   color: blueviolet;
}
div.p-1950 {
   color: cadetblue;
}
.history.text {
   color: chocolate;
}
.p-1960,
.p-1980 {
   color: crimson;
}
.p-1970 p {
   color: darkgoldenrod;
}
.business .list {
   color: darkorange;
}
.p-2020 * {
   color: aquamarine;
}
.history.list > li {
   color: deeppink;
}
.text + p {
   color: chartreuse;
}